.task {
  width: 280px;
  min-height: 90px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  position: relative;
  flex-shrink: 0;
  font-size: 0.83rem;
  touch-action: none;
}

.task__header,
.task__footer,
.task__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task__header {
  cursor: pointer;
}

.task__header p {
  max-width: 90%;
}

.task__info img {
  border-radius: 50%;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.task__category {
  background-color: #f5f5f5;
  padding: 5px;
  border-radius: 10px;
  color: gray;
}

.task__dropdown {
  background-color: white;
  border: 1px solid gray;
  padding: 5px 7px;
  border-radius: 3px;
  position: absolute;
  top: 15px;
  right: 7px;
  display: flex;
  font-size: 0.85rem;
  flex-direction: column;
  gap: 5px;
  font-weight: 600;
}

.task__delete {
  color: red;
}

.task-container {
  width: 100%;
}

.tomorrow {
  color: blue;
  font-weight: 600;
}

.before {
  color: red;
  font-weight: 600;
}

.today {
  color: black;
  font-weight: 600;
}

.other {
  color: gray;
}

.drag {
  width: 100%;
  min-height: 90px;
  background: rgba(113, 112, 112, 0.1);
  border-radius: 10px;
}
