.add-new-section{
    display: flex;
    gap: 5px;
    padding: 5px;
    align-items: flex-start;
    flex-direction: column;
   width: fit-content;
}

.add-new-section button{
    background-color: white;
    flex-shrink: 0;
    border: none;
    color: gray;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content:flex-start;
    width: 120px;
    
}

@media(max-width:700px){
    .add-new-section{
        width: 30%;
    }
}


