.kanban-board{
    display: flex;
    
    align-items: flex-start;
    gap: 15px;
    overflow-x: scroll;
    min-height: 90vh;
    font-weight: 500;
}

.section{
    width: 300px;
    flex-shrink: 0;
}

.section__tasks{
    min-height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(205, 203, 203, 0.348);
    border-radius: 10px;
    cursor: pointer;
}

.section__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.section__options{
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.kanban-board button{
    background-color: white;
    flex-shrink: 0;
    border: none;
    color: gray;
    font-weight: 500;
    cursor: pointer;
}