.container {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  gap: 10px;
}

.kanban-board {
  overflow-x: auto;
  padding-inline: 5px;
}

.kanban-board__sections {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  min-width: max-content;
  padding: 5px;
  overflow-x: auto;
}


@media (max-width: 500px) {
  .container {
    flex-direction: column-reverse;
  }
}
