header,.header__details,.header__left,.header__right,.header__input{
    display: flex;
    display: flex;
    align-items: center;
}

header{
    justify-content: space-between;
}

.header__details,.header__left,.header__right,.header__input{
    justify-content: center;
    gap: 10px;
}

.header__details figure{
    width: 35px;
    
}

.header__details img{
    border-radius: 5px;
}

header button{
    background-color: white;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 6px;
}

.header__input{
    border: 1px solid gray;
    padding: 8px;
    border-radius: 10px;
}

.header__input input{
    border: none;
    outline: none;
    width: 150px;
}



@media (max-width:455px){
    header{
        flex-direction: column;
        gap: 5px;
        padding-top: 5px;
    }
}
