.section {
  width: 300px;
  flex-shrink: 0;
  position: relative;
  
}

.section__tasks {
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  cursor: pointer;
  overflow: auto;
}

.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: bold;
  color: gray;
}

.section__delete {
  position: relative;
}

.section__dropdown {
  display: none;
  background-color: white;
  color: red;
  border: 1px solid gray;
  padding: 5px;
  width: fit-content;
  position: absolute;
  top: 10px;
  right: 0px;
  border-radius: 5px;
  font-size: 0.95rem;
  z-index: 1;
  font-weight: 500;
}

.section__delete:hover .section__dropdown {
  display: block;
}

.section__add-task {
  color:rgb(191, 187, 187);
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
}

.section__options {
  display: flex;
  gap: 10px;
  cursor: pointer;
}
