.add-task{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(128, 128, 128, 0.3);
    filter: grayscale(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 10px;
    background-color: white;
    width: 40vw;
    border-radius: 15px;
    position: relative;
    border: 1px solid gray;
    animation: fadeIn 1s;
    font-weight: 500;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.add-task form h1{
    font-size: 17px;
    margin-bottom: 20px;
    font-weight: 600;
    
}

.add-task form label{
    font-size: 0.9rem;
    font-weight: 500;
    color: rgb(64, 59, 59);
}

.add-task form input{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    padding-left: 8px;
    font-weight: 500;
}

.add-task__user{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.add-task__user figure{
    width: 80px;
    border-radius: 5px;
    border: 1px solid rgb(128, 125, 125);
}

.add-task__user img{
    display: flex;
    border-radius: 5px;
}

.add-task .buttons{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task button{
    padding: 7px;
    background-color: black;
    font-weight: 500;
    color:white;
    width: fit-content;
    border-radius: 7px;
    cursor: pointer;
    border: none;
    outline: none; 
}

.add-task .cancel-button{
    background-color: white;
    border: 1px solid gray;
    color: gray;
}

@media (max-width:800px){
    .add-task form{
        width: 60%;
    }
}

@media (max-width:455px){
    .add-task form{
        width: 90%;
    }
}