.add-task{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(128, 128, 128, 0.3);
    filter: grayscale(50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    gap: 10px;
    background-color: white;
    width: 40vw;
    border-radius: 15px;
    position: relative;
    border: 1px solid gray;
    animation: fadeIn 1s;
    font-weight: 500;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.add-task form h1{
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.add-task form label{
    font-size: 1rem;
    font-weight: 600;
}

.add-task form input{
    border-bottom: 1px solid gray;
    font-weight: 500;
}

.add-task__user{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.add-task__user figure{
    width: 80px;
}

.add-task button{
    padding: 7px;
    background-color: black;
    font-weight: 500;
    color: white;
    width: 50%;
    align-self: center;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
}

.close-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

@media (max-width:800px){
    .add-task form{
        width: 50%;
    }
}

@media (max-width:455px){
    .add-task form{
        width: 90%;
    }
}